:root {
  --bgc-0: #000;
  --bgc-1: #151516;
  --bgc-2: #1d1d20;
  --fc-0: #f5f5f7;
  --fc-1: #a1a1a6;
  --border: 1px solid #343536;
}

*,
*::before,
*::after {
  font-family: -apple-system, BlinkMacSystemFont sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  background-color: var(--bgc-0) !important;
}

input,
textarea {
  width: auto;
  border: none;
  border-radius: 4px;
  min-height: 40px;
  background-color: #1d1d20;
  color: var(--fc-0);
  font-size: 16px;
}

input[type="checkbox"] {
  width: 30px !important;
}

button {
  border-radius: 4px;
  min-height: 40px;
  color: var(--bgc-0);
  cursor: pointer;
}

button:is(:focus-visible, :hover) {
  opacity: 0.8;
  transform: translateY(-1px);
}

label,
span {
  color: var(--fc-0);
  font-size: 16px;
}

h1 {
  color: vaR(--fc-0);
  font-size: 24px;
  margin: 0px !important;
}

table,
th,
tbody,
tr,
td {
  all: unset;
}
